
<template name="nav">


<!--  <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <a class="brand" href="#">Schema builder</a>
          <ul class="nav">-->
            <!--<li><a class="brand" href="#">Schema builder</a></li>-->
<!--            <li ><a href={{pathFor 'home'}}>Home</a></li>
            <li ><a href="#">About</a></li>
            <li ><a href="#">Builder</a></li>
          </ul>
        </div>
  </div>
-->

  <div >
    <!--  <h3>Tabs</h3>
          <p>The .nav-tabs class is used to create navigation tabs:</p>-->

              <ul>
                  <li ><a href="/">Main</a></li>
                  <li><a href="/register">Register</a></li>
                  <li><a href="/listetudiants">Liste Etudiants</a></li>
                  <li><a href="/pagetest">Page Test</a></li>
              </ul>
  </div>



  <!--<ul class="nav nav-pills">
          <li role="presentation" class="active"><a href="#">Home2</a></li>
          <li role="presentation"><a href="#">Profile</a></li>
          <li role="presentation"><a href="#">Messages</a></li>
    </ul>-->
</template>
